/*secciones*/
/*esfera*/
canvas{
	max-width: 100%; 
	height: 380px;
}
.texto{
	padding: 6%;
	font-weight: bold;
	border-radius: 10px;
}
/*animacion cambio de color frase1*/
#frase1{
	background-color: #046957;
	color: #fff;
	animation-name: fraseuno;
	animation-duration: 5s;
}
@-webkit-keyframes fraseuno{
	from{
		background-color: #046957;
	}
	to{
		background-color: #153832;
	}
}
/*animacion cambio de color frase2*/
#frase2{
	background-color: #F7B733;
	color: #fff;
	animation-name: frasedos;
	animation-duration: 5s;
}

@-webkit-keyframes frasedos{
	from{
		background-color: #F7B733;
	}
	to{
		background-color: #CC2937;
	}
}
/*animacion cambio de color frase1*/
#frase3{
	background-color: #78BCE7;
	color: #fff;
	animation-name: frasetres;
	animation-duration: 5s;
}

@-webkit-keyframes frasetres{
	from{
		background-color: #78BCE7;
	}
	to{
		background-color: ##29B543;
	}
}
/*titulo*/
h2{
	text-decoration: none;
	color: #01757A;
}
/*logos herramientas*/
.logo{
	max-width: 100%;
	height: 150px;
}
/*fotos*/
.fotos, .contenedor{
	max-width: 100%;
	height: 289px;
}
.contenedor{
	position: relative;
	left: 10%;
}
.contenedor img{
	border-radius: 50%;
	position: absolute;
	left: 0;
	transition: opacity 1.5s ease-in-out;
}
.contenedor img.oculta:hover{ 
	opacity: 0;
	transform: rotate(360deg);
}
/*texto debajo de foto*/
.problema{
	font-size: 2em;
}
/*footer*/
.correo{
	color: #E3B22D;
}
/*iconos*/
.glyphicon{
	font-size: 3em;
	color: #E83B7D;
}
/*nombre*/
.nombre{
	color: #A31439;
}
